*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
input{
    padding:1em;
    font-size: 1em;
}
label{
    font-size: 1em;
}
.container{
    width:1200px;
    margin:0 auto;
}
.row{
    display:flex;
}
.login{
    padding:2em;
    background-color: lightgreen;
    color:#C52321;
    justify-content: center;
    
}
.buttons-container{
    background-image: url("https://previews.123rf.com/images/monsitj/monsitj1901/monsitj190100027/118032542-programming-code-abstract-technology-background-of-software-developer-and-computer-script.jpg");
    height:600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logobtn{
    font-size: 1em;
    height:90px;
    width:12em;
    margin-top: 2em;
    background-color: lightgreen;
    border:10px solid white
}
.otp-head{
    flex-direction: row;
    background-color: lightgreen;
    padding:1em;
    color:#C52321;
    justify-content: space-between;
    align-items: center;
}
.otp-body{
    height: 600px;
    background-color: yellow;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.otp-div{
    margin-top:1em;
    
}